<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:label="Tame Your Biz QA"
        tools:replace="android:label" />
    <instrumentation
        android:name="io.flutter.plugins.imagepicker.NativeMediaStagingInterruptionProbe"
        android:targetPackage="${applicationId}"
        android:label="Isolated native staging interruption QA" />
</manifest>
